@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 970px;
}

html {
    font-size: 0.8px;
}

body {
    font-family: "Arial";
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    justify-content: center;
}

.items-center {
    display: flex;
    align-items: center;
}

.gap {
    gap: 10px;
}

h1,
h2,
h3 {
    font-family: "Roboto Slab";
}

ul {
    list-style: none;
}

a {
    cursor: url(../img/cursor.cur), default;
    text-decoration: none;
    transition: all 1s ease;
}

sup {
    font-size: 12px;
}

hr {
    border: 1px solid #fff;
    border-top: 1px solid #e4e4ec;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.head_line {
    padding: 23px 0px;
    height: auto;
    background-color: #1f1f56;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.head_line ul {
    gap: 20px;
    flex-wrap: wrap;
}

.head_line a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 0.6em;
    color: #b1b1d2;
}

.head_line a:hover {
    color: orange;
}

.media {
    justify-content: center;
    gap: 27px;
    width: 100%;
}

.media svg {
    fill: #fff;
    transition: all 1s ease;
}

.media a svg:hover {
    fill: #fd8300;
}

.main_contact {
    padding: 29px 0;
}

.column-gap {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.line {
    position: relative;
    padding: 10px;
    display: none;
}

.line::before {
    content: "";
    position: absolute;
    height: 60px;
    width: 1px;
    background-color: #e4e4ec;
}

.phone a {
    font-size: 18px;
    line-height: 0.7em;
    color: #25252c;
    font-weight: bold;
}

.phone a:hover {
    color: orange;
}

.phone p:last-child {
    padding-left: 22px;
}

.email {
    padding-top: 5px;
}

.email img {
    padding-right: 12px;
}

.email a {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 0.7em;
    color: #25252c;
}

.email a:hover {
    text-decoration: underline;
}


.fixed {
    padding-top: 90px;
}

.main_contact .order_call a {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 0.7em;
    color: #25252c;
    font-weight: bold;
    border: orange solid 3px;
    border-radius: 30px;
    padding: 19px 30px;
}

.main_contact .order_call a:hover {
    color: orange;
    background-color: #25252c;
}

.main_info {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 60px 0;
    background: #25252c url(../img/main.png) center/cover no-repeat;
    width: 100%;
    max-height: 200px;
}

.main_info h1 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.main_information {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    padding-top: 12px;
}

.info {
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    text-align: center;
}

.information {
    justify-content: center;
    padding-top: 15px;
    align-items: flex-end;
}

.information p:last-child {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.company {
    padding-top: 40px;
    padding-bottom: 47px;
}

.about_us {
    max-width: 70%;
}

.hataplus {
    padding-bottom: 34px;
}

.hataplus h2 {
    font-size: 30px;
    line-height: 1.25em;
    color: #24242b;
    font-weight: bold;
    padding-bottom: 13px;
}

.hataplus p {
    font-size: 14px;
    line-height: 1.6em;
    color: #666666;
    padding-top: 15px;
}

.p {
    padding-bottom: 25px;
}

.hataplus a {
    font-size: 14px;
    line-height: 0.58em;
    color: #fd8300;
    font-weight: bold;
    position: relative;
}

.slow_line a::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fd8300;
    transition: all 0.5s ease;
}

.slow_line a:hover::before {
    content: "";
    width: 100%;
    background-color: #fd8300;
}

.projects {
    padding-top: 30px;
}

.projects h3 {
    padding-bottom: 24px;
    font-size: 24px;
    color: #24242b;
    font-weight: bold;
}

.projects figure {
    max-width: 240px;
}

.figures {
    column-gap: 28px;
    display: flex;
    flex-direction: column;
}

.projects picture {
    display: block;
    width: 100%;
}

.projects img {
    width: 100%;
    object-fit: cover;
}

.projects h4 {
    position: relative;
    padding-top: 15px;
    padding-bottom: 7px;
    font-size: 14px;
    line-height: 0.6em;
    color: #1f1f56;
    font-weight: bold;
}

.projects h4::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #1f1f56;
    transition: all 0.5s ease;
}

.projects h4:hover::before {
    width: 60%;
}

.projects p {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

aside {
    max-height: 600px;
    position: sticky;
}

.categories {
    max-width: 219px;
}

.categories h3 {
    border-radius: 4px 4px 0px 0px;
    padding: 16px 51px 13px 15px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    background-color: #1f1f56;
    ;
}

.categories li {
    border-bottom: solid 1px #cecedd;
}

.categories li:last-child {
    border-bottom: #fff solid 0px;
    border-radius: 0px 0px 4px 4px;
}

.inside li {
    border-bottom: #fff solid 0px;
}

.pointer:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-right: solid 2px #666;
    border-bottom: solid 2px #666;
    right: 14px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    z-index: 2;
    transition: all 0.5s ease;
}

li:hover>a:before {
    border-color: #ededf5;
    transform: translateY(-50%) rotate(45deg);
}

.categories a {
    position: relative;
    padding: 15px;
    display: block;
    font-size: 14px;
    line-height: 1.6em;
    color: #25252c;
}

.categories li:hover>a {
    color: #fff;
    background-color: #fd8300;
}

.categories li {
    background-color: #e4e4ec;
    transition: all 1s ease;
}

.inside {
    display: none;
}

.inside a {
    padding-left: 30px;
}

.outside a>li:hover {
    color: #fff;
    background-color: #fd8300;
}

.inside li:hover>a {
    color: #666;
    background-color: #cecedd;
}

.outside:hover>.inside {
    display: block;
}

footer {
    background-color: #ededf5;
}

.footer_line {
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.about li {
    padding-bottom: 6px;
}

.about a {
    font-size: 14px;
    line-height: 0.6em;
    color: #666666;
    transition: all 1s ease;
}

.about a:hover {
    text-decoration: underline;
    color: #fd8300;
}

.footer_bottom {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdce6;
}

.footer_bottom p {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

@media screen and (min-width: 467px) {
    .menu {
        display: flex;
        justify-content: space-between;
    }

    .media {
        width: auto;
    }

    .footer_line {
        justify-content: space-around;
        align-items: flex-start;
        padding: 40px 0px;
    }

    .figures {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 0.9px;
    }

    .line {
        display: inline-block;
    }

    .fixed {
        padding-top: 65px;
    }
}

@media screen and (min-width:1440px) {
    html {
        font-size: 1px;
    }
}

@media screen and (min-width:1920px) {
    html {
        font-size: 1.4px;
    }
}