@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Medium.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Medium.woff') format('woff'),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    width: 85%;
}

body {
    font-family: "Arial";
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.items-center {
    display: flex;
    align-items: center;
}

.gap {
    gap: 10px;
}

h1,
h2 {
    font-family: "Roboto Slab";
}

ul {
    list-style: none;
}

a {
    cursor: url(../img/cursor.cur), default;
    text-decoration: none;
    transition: all 1s ease;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.head_line {
    background-color: #1f1f56;
    padding: 23px 0px;
}

.head_line ul {
    gap: 15px;
}

.head_line a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 0.6em;
    color: #b1b1d2;
}

.head_line a:hover {
    color: orange;
}

.head_line picture {
    padding-left: 26px;
    display: flex;
    align-items: center;
}

.main_contact {
    padding: 29px 0;
}

.phone p {
    padding: 3px 30px 11px 7px;
}

.line {
    position: relative;
    padding: 10px;
}

.line::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 1px;
    background-color: #e4e4ec;
}

.phone a {
    font-size: 18px;
    line-height: 0.7em;
    color: #25252c;
    font-weight: bold;
}

.phone a:hover {
    color: orange;
}

.email img {
    padding-right: 12px;
}

.email a {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 0.7em;
    color: #25252c;
}

.email a:hover {
    text-decoration: underline;
}

.email p {
    padding: 5px 50px 12px 29px;
}

.main_contact .order_call a {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 0.7em;
    color: #25252c;
    font-weight: bold;
    border: orange solid 3px;
    border-radius: 30px;
    padding: 19px 30px;
}

.main_contact .order_call a:hover {
    color: orange;
    background-color: #25252c;
}

.main_info {
    display: flex;
    align-items: center;
    padding: 60px 0;
    background: #25252c url(../img/main.png) center/cover no-repeat;
    min-height: 200px;
    width: 100%;
}

.main_info h1 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.main_information {
    font-size: 14px;
    line-height: 0.6em;
    color: #ffffff;
    text-align: center;
    padding-top: 12px;
}

.info {
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    text-align: center;
}

.information {
    justify-content: center;
    padding-top: 15px;
    align-items: flex-end;
}

.information p:last-child {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.company {
    padding-top: 40px;
    padding-bottom: 47px;
}

.about_us {
    width: 60%;
}

.hataplus {
    padding-bottom: 34px;
}

.hataplus h2 {
    font-size: 30px;
    line-height: 1.25em;
    color: #24242b;
    font-weight: bold;
    padding-bottom: 28px;
}

.hataplus p {
    font-size: 14px;
    color: #666666;
    padding-bottom: 15px;
}

.p {
    padding-bottom: 25px;
}

.hataplus a {
    font-size: 14px;
    line-height: 0.58em;
    color: #fd8300;
    font-weight: bold;
    position: relative;
}

.hataplus a::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 0px;
    background-color: #fd8300;
    transition: all 0.5s ease;
}

.hataplus a:hover::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fd8300;
}

.closing_line {
    display: block;
    position: relative;
    padding: 10px;
}

.closing_line::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #e4e4ec;
}

.projects {
    padding-top: 30px;
}

.projects h3 {
    padding-bottom: 24px;
    font-size: 24px;
    color: #24242b;
    font-weight: bold;
}

.projects figure {
    max-width: 240px;
}

.projects h4 {
    padding-top: 15px;
    padding-bottom: 7px;
    font-size: 14px;
    line-height: 0.6em;
    color: #1f1f56;
    font-weight: bold;
}

.projects p {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

.categories {
    width: 30%;
}

footer {
    background-color: #ededf5;
}

.footer_line {
    align-items: center;
    padding: 40px;
}

.about li {
    padding-bottom: 6px;
}

.about a {
    font-size: 14px;
    line-height: 0.6em;
    color: #666666;
    transition: all 1s ease;
}

.about a:hover {
    text-decoration: underline;
    color: #fd8300;
}

.footer_bottom {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdce6;
}

.footer_bottom p {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}